

<% if !@user.locations.first.nil? and (!@user.locations.first.address.nil? or !@user.locations.first.latitude.nil?) %>

<div id="address_location">
	<%= image_tag("location2.png", size:"25x25",style:"position:absolute;left:5px;top:5px") %>
    <% if current_user?(@user) %>
        <a href="#delete_location<%=@user.id%>" data-toggle="modal" style="text-decoration:none">
            <%= image_tag("delete.png", size:"15x15",style:"position:absolute;right:5px;top:5px") %>
        </a>
    <% end %>
    <div style="width:255px;margin-left:35px">
	    <a href="#modal_location<%= @user.id%>" data-toggle="modal" style="text-decoration:none;">
			<% if !@user.locations.first.address.blank? %>
				<%= @user.locations.first.address %>
			<% else %>
				<% if !@user.locations.first.latitude.nil? and !@user.locations.first.longtitude.nil? %>
				Координаты:
			    <%= @user.locations.first.latitude.round(5) %>
			    <%= @user.locations.first.longtitude.round(5) %>
				<% end %>
			<% end %>
        </a>
    </div>
</div>

<div class="modal hide fade modal_of_map" id="modal_location<%= @user.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= image_tag("map.png", size: "30x30",style:"position:absolute;left:8px") %> 
        <h3 class="modal-title" id="myModalLabel" style="font-size:1.2em">Пользователь <%= @user.name %> на карте</h3>
      </div>
      <div class="modal-body">
        <section class="map_section">
            <script>
              $("#modal_location<%= @user.id%>").on("shown.bs.modal", function () {
                L.mapbox.accessToken = 'pk.eyJ1IjoiZmV0aXNvdnNlcmdleSIsImEiOiI0X09HSjZFIn0.aU0mwcW1UZIj5ZWVBFkRdQ';
                var map = L.mapbox.map('map_of_location_user<%=@user.id%>', 'mapbox.streets').setView([<%= @user.locations.first.latitude %>,
                <%= @user.locations.first.longtitude %>], 10);
                map.addControl(L.mapbox.geocoderControl('mapbox.places',{autocomplete: true}));
                L.control.layers({
                'Схема': L.mapbox.tileLayer('mapbox.streets').addTo(map),
                'Спутник': L.mapbox.tileLayer('mapbox.satellite')
                }).addTo(map);
				/*
                var marker = L.marker([<%= @user.locations.first.latitude %>,<%= @user.locations.first.longtitude %>],
                {
                    icon: L.mapbox.marker.icon({'marker-color': '#CC0033','marker-symbol':'circle-stroked','marker-size': 'large'})
                }).addTo(map);
				*/
		  	  	var user_icon_url = "<%= @user.avatar.url(:medium) %>"
				if (user_icon_url == "default_avatar_medium.png")
				{
					user_icon_url = '/' + user_icon_url
				}
				
                var myLayer = L.mapbox.featureLayer().addTo(map);
                var geoJson = [
                    {
                        type: 'Feature',
                        "geometry": { "type": "Point", "coordinates": [<%= @user.locations.first.longtitude %>,
                        <%= @user.locations.first.latitude %>]},
                        "properties":
                        {
                          "icon": {
                          "iconUrl": user_icon_url,
                          "iconSize": [55, 55], // size of the icon
                          "iconAnchor": [25, 25], // point of the icon which will correspond to marker's location
                          "popupAnchor": [0, -25], // point from which the popup should open relative to the iconAnchor
                          "className": "map-icon"
                        }
                    }}
                ];
                myLayer.on('layeradd', function(e) {
                  var marker = e.layer,
                  feature = marker.feature;
                  marker.setIcon(L.icon(feature.properties.icon));
                });
                // Add features to the map
                myLayer.setGeoJSON(geoJson);					
              });
            </script>
            <div id='map_of_location_user<%= @user.id%>' class="map"></div>
        </section>
      </div>
      <div class="modal-footer" style="font-size:1.0em">
			<% if !@user.locations.first.address.blank? %>
				<%= @user.locations.first.address %>
			<% else %>
				<% if !@user.locations.first.latitude.nil? and !@user.locations.first.longtitude.nil? %>
					Координаты:
		    		<%= @user.locations.first.latitude.round(5) %>
		    		<%= @user.locations.first.longtitude.round(5) %>
				<% end %>
			<% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal hide fade modal_of_conversation" id="delete_location<%=@user.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Удалить местоположение</h3>
      </div>
      <div class="modal-body" style="text-align:center">
        Вы хотите удалить местоположение на карте?
      </div>
      <div class="modal-footer">
        <%= link_to 'Да',@user.locations.first, method: :delete,class: "btn btn-primary" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>

<% end %>
   
